/* ================::Gallery Modal::================ */

.swiper-container {
    height: 300px !important;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-swiper {
    height: 80%;
    width: 100%;
}

.gallery-thumbs {
    height: 10% !important;
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}